ul{
    list-style-type: none;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
border-radius: 10px;
}
.sign{
    background-color: red;
    color: white;
}